*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

a{
	width: 200px;
	height: 30px;
	font-size: 150vh;
	color: rgb(236, 10, 10);
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
	border:10px solid;
	

}

div.expt{
	width: 200px;
	height: 30px;
	padding: 10px;
	margin-bottom: 10px;
	background-color: white;

}



header{
	background-image: url(../luc.jpg);
	height:300vh;
	background-size: cover;
	background-position: center;
	



}


ul{
	float: right;
	list-style-type: none;
	margin: 25px
}

ul li{
	display: inline-block;
	font-size: 50px;
	font-size-adjust: 50px;

}




ul li a{
	text-decoration: none;
	color: #000;
	padding-left: 10px;
	padding-top: 40px;
	padding-bottom: 0px; 
	padding-right:50px;
	border:1px solid;
	transition: 0.6 ease;
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

img.self{
	/*margin-top: 10vh;
	margin-left: 20%;
	margin-right: 25%;
	height: 50vh;
	max-width: 100%;
	float: left;*/
	display: block;
	margin-left: auto;
	margin-right: auto;


}

img.academic{
	/*display:in-line;*/
	height: 400px;
	width: 450px;
	margin-top: 15px;
	
	float:right;




}

img.achievements{
	/*margin-top: 10vh;
	

	max-width: 100%;*/
	
	margin-bottom: 3vh;
	height:60vh;
    margin-top: -40vh;


    
	


}
p.see{
	margin-top: 10vh;
	height: 10px;
}
	


.logo1 img{
	float: left;
	width: 250px;
	height: auto;
}

.main1{
	max-width: 1500vh;
	margin: auto;

}

.acd{
	margin-top: 50vh;
	height: 70vh;
	float:bottom;
}

.center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}





